@using XM.Models.Entity
@model XM.Models.Entity.Registration

@{
    ViewData["Title"] = "Create";
}


<div class="text-center">
    <h4 >Applicant Registration</h4>
</div>

<hr />
<div class="col-md-10 offset-1">
    <div class="card">
        <div class="card-body">
            <form asp-action="Create" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">انتخاب امتحان</label>
                    <div class="col-lg-5">
                        <select asp-for="Test.Id" tabindex="-1" asp-items="ViewBag.TestId">
                            <option>Select Exam</option>
                        </select>
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Name:</label>
                    <div class="col-lg-5">
                        <input type="text" asp-for="Student.Name" class="form-control" placeholder="FirstName">
                    </div>
                    <span asp-validation-for="Student.Name" class="text-danger"></span>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">FatherName</label>
                    <div class="col-lg-5">
                        <input type="text" asp-for="Student.FatherName" class="form-control" placeholder="FatherName">
                    </div>
                    <span asp-validation-for="Student.FatherName"></span>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">NID</label>
                    <div class="col-lg-5">
                        <input type="text" asp-for="Student.Nid" class="form-control" placeholder="NID">
                    </div>
                    <span asp-validation-for="Student.Nid" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Email</label>
                    <div class="col-lg-5">
                        <input type="text" asp-for="Student.Email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Phone</label>
                    <div class="col-lg-5">
                        <input type="text" asp-for="Student.Phone" class="form-control" placeholder="Phone">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Registration Date</label>
                    <div class="col-lg-5">
                        <input type="date" asp-for="RegistrationDate" class="form-control" placeholder="Date">
                    </div>
                </div>
                @*<div class="form-group row">
                    <label class="d-blockcol-lg-3 col-form-label">Gender:</label>

                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <div class="uniform-choice"><span class="checked"><input type="radio" class="form-input-styled" name="gender" checked="" data-fouc=""></span></div>
                            Male
                        </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <div class="uniform-choice">
                                <span><input type="radio" class="form-input-styled" name="gender" data-fouc=""></span>
                            </div>
                            Female
                        </label>
                    </div>
                </div>*@
                <div class="text-center">
                    <button type="submit" class="btn btn-primary legitRipple">Submit form <i class="icon-paperplane ml-2"></i></button>
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>










@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <select asp-for="TestId" class ="form-control" asp-items="ViewBag.TestId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate" class="control-label"></label>
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toaken" class="control-label"></label>
                <input asp-for="Toaken" class="form-control" />
                <span asp-validation-for="Toaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TokenExpireTime" class="control-label"></label>
                <input asp-for="TokenExpireTime" class="form-control" />
                <span asp-validation-for="TokenExpireTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
