// Here you can add other styles
.container-fluid{
    width: 73%;
}
.sidebar{
    position: fixed;
    text-align: center;
}
.navbar-nav.mr-auto{
    margin-left: 0px !important;
}
.container {
  min-width: 1380px;
}

.login-dari {
  margin-top: 13rem;
}
.login-pashto {
  margin-top: 13rem;
}
