@{
    ViewData["Title"] = "Exam ";
}



@*<div class="flex-fill">
    <div class="text-center mb-2">
        <h6 class="">دری </h6>
        <h6 class="">پښتو </h6>
        

    </div>

</div>*@

<div class="row offset-2" style="margin-top: 25em;">
    <div class="col-4">
        <button type="button" class="btn bg-blue btn-block btn-float  legitRipple">
            دری
        </button>					
    </div>
								
    <div class="col-4">
        <button type="button" class="btn bg-blue  btn-block btn-float legitRipple">
            پښتو
        </button>							
    </div>
</div>